<table>
    <tr>
        <td colspan="3">
            <h1>Providing goods and services for recreational outdoor activities within <a target="_blank" href="http://www.sbcounty.gov/main/default.aspx">San Bernardino County USA</a> since 2016</h1>
            <div class="transparentContentDiv">
                <p>Enhance your relationships with friends, family and colleagues alike with our <a target="_blank" href="http://www.merriam-webster.com/dictionary/outfitter">outfitter</a> programs, whilst becoming attuned to your very planet!</p>
                <p>Earth is a beautiful miracle that we want everyone to recognize and be a part of. Our goal is to, <b>with safety as a priority</b>, provide adventures that will become lifetime memories, whether novice or expert!</p>
            </div>
            <h2>Our activities include <i>hiking, fishing, skiing/snowboarding, canoeing/kayaking/rafting</i> and much more!</h2>
        </td>
    </tr>
    <tr>
        <td width="33.3%"></td>
        <td width="33.3%"></td>
        <td width="33.3%"></td>
    </tr>
</table>